
*.gtkw
*.log
/*.v
/*.bin
/*.zip
/*.img
/*.raw
/*.jed
/*.svf
/*.bit
/*.json
/*.csv
Scan Capture/*
scan_sim_bus.vcd
.gitignore
array_output.txt
newlogs.txt
.DS_Store
**/.DS_Store
.DS_Store
software/.DS_Store
software/glasgow/.DS_Store
software/glasgow/applet/.DS_Store
software/glasgow/applet/video/.DS_Store
software/glasgow/applet/video/scan_gen/.DS_Store
socketlogs.txt
.DS_Store
