/env/
/venv/
*.pyc
*.gtkw
*.log
*.log
/*.v
/*.bin
/*.zip
/*.img
/*.raw
/*.jed
/*.svf
/*.bit
/*.json
/*.csv
Scan Capture/*
scan_sim_bus.vcd
.gitignore
array_output.txt
newlogs.txt
.DS_Store
**/.DS_Store
socketlogs.txt
software/glasgow/applet/video/scan_gen/*.bmp
*.vcd

env/lib/python3.11/site-packages/pkg_resources/_vendor/jaraco/__pycache__/__init__.cpython-311.pyc
software/Scan Capture/current_display_setting
**/current_frame
**/current_display_setting
**/packets.txt
packetlogs.txt
socket_packets.txt
frames.txt
frames.txt
packetlogs.txt
logs.txt